<div class="row">
    <div class="col-6"><h1>@ViewBag.ThisMeetup.Title</h1></div>
    <div class="col-6"><a href="/join/@ViewBag.ThisMeetup.MeetUpId">Join</a></div>
</div>
<h3>Event Coordinator: @ViewBag.ThisMeetup.Coordinator.Name</h3>
<h3>Description:</h3>
<p>@ViewBag.ThisMeetup.Description</p>
<h3>Participants:</h3>
<ul class="list-group">
    @foreach(var u in ViewBag.ThisMeetupsParticipants.UsersParticipating)
    {
        <li class="list-group-item">@u.Participant.Name</li>
    }
</ul>